<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login-styles.css' %}">
</head>
<body>
    <h1>
        Log In or Create New Account
    </h1>
    
    <form action = "{% url 'login:auth' %}" method="POST">        
        {% csrf_token %}
        <!--write form content here using django forms-->
        {{ auth_form }}
        <input type="submit">
    </form>
</body>
</html>